* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#928c30;
    position: relative;
    text-align: center;
}

header, footer{
    background-color: #1c2b2d;
    height: 60px;
    padding: 10px;
    width: 100%;
    z-index: 10;
}

#header-page {
    position: fixed;
    top: 0;
}

li {
    display: inline;
    float: right;
    padding: 20px;
    font-size: 20px;
    font-family:fantasy;
}


a {
    text-decoration: none;
    color: wheat;
}

a:hover {
    color:sandybrown;
}
 

h1, h2, h3{
    color:rgb(105, 87, 87);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

p {
    color:rgb(221, 202, 200);
}

main {
    margin: 80px 0 100px;
}

figure img{
    margin: 0 auto;
    width: 200px;
}

figcaption {
    color: rgb(221, 202, 200);
    font-size:smaller;
}

#about-me {
    margin-bottom: 20px;
}

#about-me p {
    width: 650px;
    margin: 0 auto;
    line-height: 2;
}

hr {
    border: 2px solid grey;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

table {
    display: inline-block;
}

table th{
    color: rgb(121, 68, 68);
    padding: 10px;
}

table td {
    color:silver;
    line-height: 1.5;
}

#contact-me {
    margin: 0 auto;
    margin-top: 30px;
    width: 30%;
}

form {
    border: 2px solid rgb(114, 110, 110);
    border-radius:5px;
    padding: 10px;
}

input {
    display: inline-block;
    padding: 5px;
    width: 100%;
}

#contact-me label {
    color: rgb(221, 202, 200);
    float:left;
    margin-bottom: 2px;
}

button {
    border-radius: 5px;
    background-color: teal;
    color: thistle;
    margin-top: 5px;
    padding:5px;
    width: 250px ;
}

footer {
    position: fixed;
    bottom: 0;
}

footer p {
    color: wheat;
    font-size: smaller;
    float: left;
    }